{{#*inline "page"}}
<ul>
    {{#each games as |game|}}
        <li>
            <form action="/game/{{game.id}}/post" method="post">
                <img src="{{game.box_art_url}}" alt="Thumbnail">
                <button type="submit">{{game.name}}</button>
            </form>
        </li>
    {{/each}}
</ul>
{{/inline}}
{{> (lookup this "parent")}}
